body {
    margin: 20px;
    background-color: lightgray;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    font-size: 34px;
    width: 23%;
    border-width: 5px;
    border-color: dodgerblue;
    color: #555555;
}

th {
    font-size: 50px;
    color: darkblue;
}
